# Multi Variate

- multiple outputs

In [23]:
import pandas as pd
from sklearn.linear_model import LinearRegression 
from sklearn.multioutput import MultiOutputRegressor 

from sklearn.model_selection import train_test_split 
from sklearn.metrics import r2_score, mean_squared_error
import matplotlib.pyplot as plt

# Load Data

In [24]:
df = pd.read_csv("./data/multi_variate.csv")

df.head()

,Size,Bedrooms,Bathrooms,LocationGrade,Age,Price,TimeToSell
0,2382.026173,2,2,4,15,86785.833632,0.600232
1,1700.078604,4,3,3,5,146310.075069,-12.754432
2,1989.368992,5,3,4,13,171322.218334,-15.668576
3,2620.446600,5,2,1,7,130614.682093,3.506798
4,2433.778995,4,2,1,14,109310.860226,12.014600

# Split Data into Input(X) and Outputs (y)

In [25]:
# Input Data
X = df[["Size", "Bedrooms", "Bathrooms", "LocationGrade", "Age"]]

X.head()

          Size  Bedrooms  Bathrooms  LocationGrade  Age
0  2382.026173         2          2              4   15
1  1700.078604         4          3              3    5
2  1989.368992         5          3              4   13
3  2620.446600         5          2              1    7
4  2433.778995         4          2              1   14

In [26]:
# OutPut Data
y = df[["Price", "TimeToSell"]]

y.head()

           Price  TimeToSell
0   86785.833632    0.600232
1  146310.075069  -12.754432
2  171322.218334  -15.668576
3  130614.682093    3.506798
4  109310.860226   12.014600

# Split the Rows into Train and Test

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size= 0.8)
# X_train, X_test, y_train, y_test = train_test_split(X, y, train_size= 0.8, shuffle= False)
# X_train, X_test, y_train, y_test = train_test_split(X, y, train_size= 0.8, random_state= 40)

# Build and Train the model

In [28]:
# Create the Model instance with multiple outputs
model =   MultiOutputRegressor( LinearRegression() )

model.fit(X_train ,y_train)

MultiOutputRegressor(estimator=LinearRegression())

# Show the Coeff.

In [29]:
model.estimators_

[LinearRegression(), LinearRegression()]

In [30]:
for i , estimator in enumerate(model.estimators_):
    print(f"estimator: {i} \n{estimator.coef_}")

estimator: 0
[ 1.71455289e-01  1.98039542e+04  1.48266444e+04  9.69027747e+03
 -1.11321926e+03]
estimator: 1
[ -0.03050066  -5.11730606  -3.90248107 -10.18112202   2.03023847]

# Predict

In [31]:
y_pred = model.predict(X_test)

# Evaluation

r2-score :    0 (bad) - 1 (best)

In [32]:
r2 = r2_score( y_test  , y_pred )
mse = mean_squared_error( y_test  , y_pred )

In [33]:
print(r2)
print(mse)

0.8700839277341106
52058019.94673147